.movies {
  width: 100%;
  display: grid;
  background-color: #FAFAFA;
}

.movies__button {
  width: 320px;
  height: 36px;
  margin: 50px auto 80px;
  border: #E8E8E8 solid 2px;
  border-radius: 6px;
  background-color: #FAFAFA;
  font-weight: 500;
  font-size: 12px;
}

.movies__button_type_closed {
  display: none;
}

.movies__button:hover {
  cursor: pointer;
  opacity: .7;
  border: 1px;
}

@media screen and (max-width: 767px) {
  .movies__button {
    width: 240px;
  }
}