.register {
  width: 396px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.register__title {
  margin: 0;
  padding: 24px 0 40px;
  font-weight: 500;
  font-size: 24px;
}

.register__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 16px 0 70px;
  font-weight: 400;
  font-size: 14px;
}

.register__subtitle {
  margin: 0;
  padding-right: 8px;
  color: #A0A0A0;
}

.register__link {
  color: #3456F3;
  text-decoration: none;
}

.register__link:hover {
  cursor: pointer;
  opacity: 70%;
}

@media screen and (max-width: 767px) {
  .register {
    width: 230px;
  }

  .register__nav {
    font-size: 12px;
  }
}