.footer {
  width: 100%;
  box-sizing: border-box;
  padding: 0 70px;
  font-weight: 400;
  font-size: 13px;
}

.footer_type_hidden {
  display: none;
}

.footer__head {
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
  padding-bottom: 20px;
  color: #A0A0A0;
}

.footer__link-bar {
  width: 100%;
  margin: 0;
  height: 56px;
  border-top: #E8E8E8 solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
}

.footer__copyright {}

.footer__link {
  text-decoration: none;
  color: #000;
}

.footer__link:hover {
  opacity: 70%;
  cursor: pointer;
}

.footer__link:active {
  color: black;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 0;
    font-size: 12px;
  }

  .footer__link-bar {
    height: 154px;
    box-sizing: border-box;
    flex-direction: column-reverse;
    padding: 30px 0 10px;
  }

  .footer__nav {
    justify-items: center;
    grid-template-columns: none;
    grid-template-rows: repeat(3, auto);
    grid-gap: 12px;
  }
}