.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;

}

.not-found-page__title {
  font-weight: 400;
  font-size: 140px;
  margin: 0;

}

.not-found-page__subtitle {
  font-size: 16px;
  font-weight: 400;
}

.not-found-page__link {
  background-color: #fff;
  padding: 0;
  border: none;
  width: min-content;
  margin-top: 184px;
  color: #3456F3;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

.not-found-page__link:hover {
  cursor: pointer;
  opacity: .7;
}

.not-found-page__link:active {
  cursor: pointer;
  font-weight: bolder;
}

@media screen and (max-width: 1023px) {
  .not-found-page__link:active {
    border-bottom: #3456F3 solid 1px;
    padding-bottom: 3px;
  }
}

@media screen and (max-width: 767px) {
  .not-found-page__title {
    margin-top: 100px;
    font-size: 80px;
  }

  .not-found-page__subtitle {
    font-size: 12px;
  }

  .not-found-page__link {
    margin-top: 284px;
    font-size: 12px;
  }
}